@page
@model UserPageModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your user information</p>

<p>Username: @Model.User.Identity.Name!</p>
